<app-transfer></app-transfer>
<!-- <div önload="getPosts"></div> -->
{{ getPosts()}}
<h1 class="heading">Angular Basics</h1>
<br><br>
<div class="change">
  <div class="alignment">
    <button class="add">ADD</button>
    <button class="delete">DELETE</button>
    <button class="edit">EDIT</button>
  </div>
</div>
<br>
<br>
<div>
<table>
    <tr>
        <th class="id">ID</th>
        <th class="title">TITLE</th>
        <th class="complete">COMPLETED</th>
    </tr>
    <tr *ngFor="let eachPost of posts">
      <td class="id">{{eachPost.id}}</td>
      <td class="title">{{eachPost.title}}</td>
      <td class="complete" [ngClass]="{'red' : eachPost.completed == false, 'green':  eachPost.completed == true}">{{eachPost.completed}}</td>

      <!-- <td [ngClass]="{change: {{ eachPost.completed }} == true}"> {{ eachPost.completed }} </td> -->
    </tr>
  </table>
</div>